
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-2 mb-4">Оформление заказа</h1>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list"
                   data-toggle="list" href="#list-home" role="tab" aria-controls="home">Info about
                    the car</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list"
                   data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Point
                    of
                    receiving</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list"
                   data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                    Payment</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                     aria-labelledby="list-home-list">
                    <h2 class="text-center mb-2">Проверьте пожалуйста выбранную модель</h2>
                    <h3>Вами выбран автомобиль: {{item.title}}</h3>
                    <h3>Его цена: {{item.price}} руб</h3>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel"
                     aria-labelledby="list-profile-list">
                    <h3 class="text-center mb-3">Выберите пункт доставки автомобиля</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                               id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Rote platz, Красная пл., Москва, 109012
                            <a style="color: #9370D8;"
                               href="https://www.google.ru/maps/@55.7539806,37.6200563,17.43z"
                               target="_blank">Узнать где это</a>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                               id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Apple Park, Апл-Парк-уэй, Купертино, Калифорния, США
                            <a style="color: #9370D8;"
                               href="https://www.google.ru/maps/@37.3347273,-122.0148069,15.83z"
                               target="_blank">Узнать где это</a>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                               id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            Императорский дворец, Токио, Япония
                            <a style="color: #9370D8;"
                               href="https://www.google.ru/maps/@35.6800878,139.7573003,16.26z"
                               target="_blank">Узнать где это</a>
                        </label>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                     aria-labelledby="list-messages-list">
                    <h4 class="text-center mb-4">Вы должны оплатить 10% от стоимости автомобиля</h4>
                    <h5 class="mb-2 ml-3">Итог: {{item.price * 0.01}} руб</h5>
                    <div class="col-auto">
                        <div id="wrapper">
                            <img src="/static/photo/card.jpg" width="600" height="273" alt="">
                            <input type="text" class="form-control"
                                   style="position: absolute; top: 99px; left: 23px;
                                   height: 46px; width: 377px;"
                                   id="inlineFormInputGroup1 img"
                                   placeholder="0000-0000-0000-0000">
                            <input type="text" class="form-control"
                                   style="position: absolute; top: 165px; left: 115px;
                                   height: 23px; width: 95px;"
                                   id="inlineFormInputGroup2 img1"
                                   placeholder="00">
                            <input type="text" class="form-control"
                                   style="position: absolute; top: 165px; left: 221px;
                                   height: 23px; width: 95px;"
                                   id="inlineFormInputGroup3 img2"
                                   placeholder="00">
                            <input type="text" class="form-control"
                                   style="position: absolute; top: 98px; left: 520px;
                                   height: 38px; width: 60px;"
                                   id="inlineFormInputGroup4 img3"
                                   placeholder="000">
                            <input type="text" class="form-control"
                                   style="position: absolute; top: 203px; left: 115px;
                                   height: 40px; width: 285px;"
                                   id="inlineFormInputGroup5 img4"
                                   placeholder="Aleksandr Maksimov">
                            <a style="position: absolute; top: 186px; left: 470px;
                                   height: 40px;" href="/end" class="btn btn-outline-danger mt-3">Оплата</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
