{% extends "base.html" %}


{% block content %}
<main class="container mt-4">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.secondname.label }}<br>
            {{ form.secondname(class="form-control") }}<br>
            {% for error in form.secondname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.nickname.label }}<br>
            {{ form.nickname(class="form-control") }}<br>
            {% if nickname_error != "OK" %}
                <p class="alert alert-danger mb-5" role="alert">{{ nickname_error }}</p>
            {% endif %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(class="form-control") }}<br>
            {% if age_error != "OK" %}
                <p class="alert alert-danger mb-5" role="alert">{{ age_error }}</p>
            {% endif %}
        </p>
        <p>{{ form.gender() }} {{ form.gender.label }}</p>
        <p>{{ form.submit(type="submit", class="btn mt-2 mb-4", style="background: #9370D8; color: #000000")
            }}</p>
        {{message}}
    </form>
</main>
{% endblock %}