{% extends "base.html" %}
{% block content %}
<div class="container pt-2">
    <h1>Our cars</h1>
</div>
{% if current_user.id == 1 %}
<div class="container">
    <div class="col px-md-2 mb-3 p-2">
        <a href="items" class="btn btn-secondary">Добавить автомобиль</a>
    </div>
</div>
{% endif %}
{% set vars = {'flag': True} %}
<div class="container">
    <div class="row">
        {% for item in items %}
        {% if search in item.title.lower() %}
        {% if vars.update({'flag': False}) %} {% endif %}
        <div class="col-sm-6">
            <div class="card mb-4" style="width: 30rem; border-radius: 10px;">
                <a href="http://127.0.0.1:5000/info_cars/{{ item.id }}">
                <img class="img-fluid" style="border-radius: 10px;" src={{item.photo}}>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <div class="prokrutka mb-2" style="border-radius: 10px;">
                        <p class="card-text">{{item.content}}</p>
                    </div>
                    <a href="/info_cars/{{ item.id }}" class="btn btn-outline-info">Узнать
                        больше</a>
                    {% if current_user.id == 1 %}
                        <a href="/items/{{ item.id }}" class="btn btn-outline-warning">Изменить</a>
                        <a href="/items_delete/{{ item.id }}" class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if vars.flag %}
        <div class="container mb-3">
            <h1>
                Ничего не найдено!
            </h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
