{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
    <h1 class="text-center mt-2">Изменение пароля</h1>
    <form class="mt-4" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% if password_error != "OK" %}
                <div class="alert alert-danger mb-5" role="alert">{{ password_error }}</div>
            {% endif %}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(class="form-control", type="password") }}<br>
            {% if new_password_error != "OK" %}
                <div class="alert alert-danger mb-5" role="alert">{{ new_password_error }}</div>
            {% endif %}
        </p>
        <p>
            {{ form.new1_password.label }}<br>
            {{ form.new1_password(class="form-control", type="password") }}<br>
            {% if new1_password_error != "OK" %}
                <div class="alert alert-danger mb-5" role="alert">{{ new1_password_error }}</div>
        {% endif %}
        </p>
        <p>{{ form.submit(type="submit", class="btn mt-2 mb-4", style="background: #9370D8; color: #000000") }}</p>
    </form>
</main>
{% endblock %}